@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: "Almarai", 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  transition: .5s;
}

.no-transition{
  transition: 0s !important;
}